body {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 10% 1fr 10%;
    height: 100vh;
    margin: 0%;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 60px;
    width: 150px;
    z-index: 1;
}


header,
footer,
article,
div,
div {
    background: whitesmoke;
}

body {
    background-color: black;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}