
body {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 10% 1fr 10%;
    height: 100vh;
    margin: 0%;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 0%;
}

nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    size: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 60px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

video {
    margin: 0%;
    display: flex;
}

footer {
    background-color: whitesmoke;
    height: 60px;
}


#leaguespage:hover, #scorespage:hover, #transferspage:hover, #uefapage:hover, #europapage:hover{
    background-color: black;
    color: whitesmoke
    
}

#leaguespage, #scorespage, #transferspage, #uefapage, #europapage {
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    font-family: Nova Flat;
    text-decoration: none;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

.mainArticle {
    grid-area: article;
}


.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay{
    position:absolute;
    bottom:0;
    left:0;
    padding-bottom: 4%;
    padding-left: 2%;
    z-index:1;
    color: white;
    font-family: Nova Flat;
    font-size: 6em;
}
#PL1{
    padding-left: 1.5%;
    font-size: 0.25em;
}
#PL2{
    background-color: black;
    border-color: white;
    margin: 0%;
}
