
body {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 10% 1fr 10%;
    height: 100vh;
    margin: 0%;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0%;
    text-align: center;
}

nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    size: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 60px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}


footer {
    background-color: whitesmoke;
    height: 60px;
}
\#leaguespage:hover, #scorespage:hover, #transferspage:hover, #uefapage:hover, #europapage:hover{
    background-color: black;
    color: whitesmoke
    
}

#leaguespage, #scorespage, #transferspage, #uefapage, #europapage {
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    font-family: Nova Flat;
    text-decoration: none;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}
